/* Añade tus estilos aquí */
body {
  font-family: 'Rubik', sans-serif;
  background-color: #4C3BCF; /* Color de fondo sólido como fallback */
  background-image: linear-gradient(#4B70F5, #3DC2EC);
  color: black;
  margin: 0;
  padding: 20px;
  width: 300px;
  height: 100%;
}
#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #4C3BCF;
  background-image: linear-gradient(#4B70F5, #3DC2EC);
}

#magnifying-glass {
  width: 100px;
  height: 100px;
  animation: zoom-out 3s forwards;
}

@keyframes zoom-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

h1 {
  font-size: 18px;
  margin-bottom: 10px;
}
.copilot {
  font-weight: 100;
}
input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #00D9D0;
  border-radius: 5px;
}
button {
  display: block;
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  background-color: #00D9D0;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: #00B8B0;
}
#summary-button {
  margin-bottom: 15px;
}

.confidence {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.confidence span {
  flex: 1;
}
.confidence-meter {
  flex: 3;
  height: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 3vh;
  margin-top: 3vh;
}
.confidence-meter div {
  height: 100%;
  background-color: #00D9D0;
  width: 0%; /* Inicia desde 0% */
}

#summary {
  background-color: white;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  height: auto;
  overflow: auto;
}
/* Estilos de la nueva barra de búsqueda */
.form-wrapper {
  background-color: #f6f6f6;
  background-image: linear-gradient(top, #f6f6f6, #eae8e8);
  border-color: #dedede #bababa #aaa #bababa;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
  margin: 10px auto;
  overflow: hidden;
  padding: 10px;
  width: calc(100% - 20px); /* Ajustar el ancho del contenedor */
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

label {
  flex: 1;
}

select {
  flex: 2;
  padding: 5px;
}

button#submit {
  width: 100%; /* Hacer el botón más ancho */
  font-size: 18px; /* Aumentar el tamaño del texto */
}

/* Estilos para el formulario de retroalimentación */
#feedback-form input[type="text"] {
  width: calc(100% - 52px); /* Adjusted width to make room for the icon */
  padding: 10px;
  border: 2px solid #00D9D0;
  margin-top: 5px;
  border-radius: 5px;
  background-image: url('../css/26_Send-512.png'); /* Background image for the input field */
  background-size: 20px 20px; /* Size of the background image */
  background-repeat: no-repeat;
  background-position: 10px center; /* Position the background image */
  padding-left: 40px; /* Add padding to the left to make room for the icon */
}